.DS_Store
.idea/
*/config.py

# ignore output
oa-switchboard/output/*

# ignore the logs
*.log

# ignore token (if present)
oa-switchboard/token.txt
oa-switchboard/auth.token

# ignore data
*.json
*.xlsx
*.xls
*.csv